#import <Foundation/Foundation.h>
#import "SWGObject.h"
{{#imports}}#import "{{import}}.h"
{{/imports}}
{{newline}}
{{#models}}
{{#model}}
@interface {{classname}} : {{^parent}}SWGObject{{/parent}}{{#parent}}{{parent}}{{/parent}}

{{#vars}}
@property(nonatomic) {{datatype}}{{name}};  {{#description}}/* {{{description}}} {{#isNotRequired}}[optional]{{/isNotRequired}} */{{/description}}{{newline}}
{{/vars}}

{{#hasVars}}
- (instancetype)initWith{{#initialVar}}{{name}}:({{datatype}}){{lowercaseName}}{{/initialVar}}{{#remainingVars}} {{name}}:({{datatype}}){{name}}{{#hasMore}}{{/hasMore}}{{^hasMore}}{{/hasMore}}{{/remainingVars}} NS_DESIGNATED_INITIALIZER;
{{/hasVars}}
- (id)initWithValues:(NSDictionary *)dict;
- (NSDictionary *)asDictionary;
{{newline}}
@end
{{/model}}
{{/models}}